*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --text: 1.5rem;
    --head: calc(1rem + 5vw);
    --bg-color: #ffaa00dc;
}


body{
    font-family: 'Poppins', sans-serif;
}


section{
    min-height: 90vh;
    background: url(https://images.unsplash.com/photo-1619581073186-5b4ae1b0caad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1rem;
    color:white;
}


.navbar ul{
    list-style: none;
}


.navbar ul li{
    display: inline-block;
    margin-left: 3rem;
    font-size: var(--text);
}


.ullist li a{
    text-decoration: none;
    color:rgb(230, 218, 218)
}

.hero-text{
    color:rgba(255, 255, 255, 0.816);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.hero-text a{
    color: rgb(235, 239, 235);
    background: var(--bg-color);
    font-weight: 900;
    font-size: 1rem;
    padding: 0.8rem 1rem;
}

.hero-text h2{
    font-size: var(--head);
}


.hero-text p{
    font-size: 1.5rem;
}
